# IDE settings
.idea/
.vscode/

# Environment variables
.env

# List of tasks
.todo

# Node.js modules
node_modules/

# Temporary files
temp/

# General build artifacts
build/

# Firefox extension build artifacts
build-firefox/

