* {
    margin: 0;
    padding: 0;
    color: #f2f2f2;
}

body {
    width: 320px;
    height: auto;
    background-color: #141c1f;
    border-radius: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, Oxygen, Roboto, Helvetica, Arial, sans-serif;
}

.container {
    padding: 10px;
}

.main {
    margin-top: 20px;
}

.row {
    margin-top: 10px;
}

.row > .hint {
    font-size: 14px;
    margin-top: 10px;
}

.row > .body {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.row > .body > a > img {
    height: 32px;
    width: 32px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox .title {
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #3dabe1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3dabe1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
